<div class="container">
    <br>
    <br>

    <div class="contenedor">
        <div class="row">
            <form class="col s12" method="post">
                <div class="row">                    
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix" id="icon_telephone">phone</i>
                        <input id="icon_telephone" name="telefono" type="tel" class="validate" required>
                        <label for="icon_telephone">Numero de telefono ej: 3151234567</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 12">
                        <i class="material-icons prefix">comment</i>
                        <textarea name="mensaje" type="text" class="materialize-textarea validate" required></textarea>
                        <label for="icon_prefix" data-error="error" data-success="correcto">Contenido del mensaje</label>
                    </div>
                </div>
                <div class="center">
                    <button class="btn tooltipped waves-effect waves-light " data-position="bottom" data-delay="50" data-tooltip="Enviar" type="submit"
                        name="enviar">Enviar
                        <i class="material-icons right">send</i>
                  </button>
                </div>
            </form>
        </div>
    </div>
</div>