<div class="container">
    <br>
    <br>
    <div class="contenedor">

        <form class="col s12" method="post">

            <p>
                Seleccione el genero de los usuarios a los cuales se enviara el mensaje:
            </p>
            <p>
                <input type="checkbox" id="Masculino" name="Genero" value="Masculino" />
                <label for="Masculino">Masculino</label>
            </p>

            <p>
                <input type="checkbox" id="Femenino" name="Genero" value="Femenino" />
                <label for="Femenino">Femenino</label>
            </p>
            <p>
                Seleccione las edades de los usuarios:
            </p>
            <p>
                <input type="checkbox" id="Ni単os" name="Ninos" value="Ni単os" />
                <label for="Ni単os">Ni単os</label>
            </p>
            <p>
                <input type="checkbox" id="Adolescentes" name="Adolescentes" value="Adolescentes" />
                <label for="Adolescentes">Adolescentes</label>
            </p>
            <p>
                <input type="checkbox" id="Jovenes" name="Jovenes" value="Jovenes" />
                <label for="Jovenes">Jovenes</label>
            </p>
            <p>
                <input type="checkbox" id="Adultos" name="Adultos" value="Adultos" />
                <label for="Adultos">Adultos</label>
            </p>
            <p>
                <input type="checkbox" id="Adulto_Mayor" name="Adulto_Mayor" value="Adulto_Mayor" />
                <label for="Adulto_Mayor">Adulto Mayor</label>
            </p>
            <div class="input-field col s12 m12 12">
                <i class="material-icons prefix">comment</i>
                <textarea name="mensaje" type="text" class="materialize-textarea validate"></textarea>
                <label for="icon_prefix" data-error="error" data-success="correcto">Mensaje Saludable</label>
            </div>
            <div class="center">
                <button class="btn tooltipped waves-effect waves-light " data-position="bottom" data-delay="50" data-tooltip="Enviar" type="submit"
                    name="enviar">Enviar
                        <i class="material-icons right">send</i>
                  </button>
            </div>

        </form>

    </div>
</div>